@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Libertinus+Serif+Display&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Patua+One&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
body{
    background-color: #020024;
}
.nav-container {
  background-color: white;
  width: 100%;
  height: 34px;
  position: fixed;
  top: 10px;
  left: 10%;
  z-index: 1000;
}
.brand-logo{
 width: 100%;
  display: flex;
  position: fixed;
  right:40px;
}
.brand-logo img{
  width: 250px;
  height: auto;
  height: auto;
}
.nav-area {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
}
.nav-container a {
  text-decoration: none;
  color: black;
  font-family: "Libertinus Serif Display", system-ui;
  font-weight: 600;
  padding:5px 10px;
}

.nav-hover:hover a{
  background-color: rgba(41, 41, 197, 0.776);
  color: white;
  border-radius: 40px;
}

.nav-dropdown-content{
  background-color: rgba(255, 255, 255, 0.855);
  position: absolute;
  top:99%;
  right:10px;
 color: black;
  width: 20%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.navdropbtn{
  background-color: transparent;
  color: black;
  border: none;
  font-family: "Libertinus Serif Display", system-ui;
  font-weight: 600;
  font-size: 16px;
}
